* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.heading {
    width: 100vw;
    height: 8vh;
    background: linear-gradient(45deg , #0f172a , #0f172a , #38bdf8 , #38bdf8);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    height: 92vh;
    width: 100vw;
    /* background-color: rgb(82, 126, 215); */
    /* position: relative; */
}
.box {
    height: 100%;
    width: 30%;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    background-color: #38bdf8;
}
.content-box {
    z-index: 999;
    height: 100%;
    width: 40%;
    background: linear-gradient(90deg , #0f172a , #0f172a , #152038 , #38bdf8 , #38bdf8);
}
.score-box {
    height: 30vmin;
    width: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10vmin;
    color: #0f172a;
}
.change-color {
    color: #38bdf8;
}

.playGround {
    height: 40%;
    width: 100%;
    /* border-radius: 3rem; */
    /* background-color: rgb(247, 141, 11); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-choice {
    height: 35vmin;
    width: 35vmin;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vmin;
}
.v-s {
    width: 18%;
    height: 25vmin;
    font-size: 7vmin;
    font-family: cursive;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.msg-container {
    height: 25%;
    width: 100%;
    /* background-color: rgb(140, 224, 92); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg {
    display: inline-block;
    height: auto;
    width: auto;
    background-color: rgb(210, 210, 226);
    color: #0f172a;
    font-size: 8vmin;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #0f172a;
}
.choices {
    height: 35%;
    width: 100%;
    /* background-color: rgb(36, 13, 41);  */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.choice {
    height: 22vmin;
    width: 22vmin;
    border-radius: 50%;
    /* background-color: white; */
    transition: 0.5s;
}
.choice:hover {
    box-shadow: 0 0 20px rgba(61, 19, 111, 0.773) , 0 0 26px rgba(50, 52, 164, 0.795);
    transform: scale(1.2);
    cursor: pointer;
}
#rock {
    background-image: url("Picures/rock.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#paper {
    background-image: url("Picures/paper.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#scissor {
    background-image: url("Picures/scissor.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
